{% extends 'employee_portal/base.html' %}
{% block content %}

<div class="container mt-5 pt-3 d-flex justify-content-center">
  <div class="col-md-8">

    <div class="card shadow-lg border-0">
      <!-- Header -->
      <div class="card-header text-white"
           style="background-color:#131e40;">
        <h4 class="mb-0">Task Details</h4>
      </div>

      <!-- Body -->
      <div class="card-body">

        <table class="table table-borderless">
          <tr>
            <th class="text-muted w-25">Task ID</th>
            <td>{{ task.id }}</td>
          </tr>

          <tr>
            <th class="text-muted">Title</th>
            <td><strong>{{ task.title }}</strong></td>
          </tr>

          <tr>
            <th class="text-muted">Description</th>
            <td>{{ task.description }}</td>
          </tr>

          <tr>
            <th class="text-muted">Assigned To</th>
            <td>
              {{ task.assigned_to.first_name }}
              {{ task.assigned_to.last_name }}
            </td>
          </tr>

          <tr>
            <th class="text-muted">Status</th>
            <td>
              {% if task.status == "Completed" %}
                <span class="badge bg-success">Completed</span>
              {% elif task.status == "Pending" %}
                <span class="badge bg-danger">Pending</span>
              {% elif task.status == "In Progress" %}
                <span class="badge bg-warning text-dark">In Progress</span>
              {% else %}
                <span class="badge bg-secondary">{{ task.status }}</span>
              {% endif %}
            </td>
          </tr>
          <tr>
  <th class="text-muted">Start Date</th>
  <td>{{ task.start_date|date:"d M Y" }}</td>
</tr>

<tr>
  <th class="text-muted">End Date</th>
  <td>{{ task.end_date|date:"d M Y" }}</td>
</tr>

          <tr>
            <th class="text-muted">Work Hours</th>
            <td>{{ task.worked_hours_display }} HRS</td>
          </tr>
        </table>

        {% if task.image %}
        <hr>
        <div>
          <h6 class="text-muted mb-2">Task Image</h6>
          <img src="{{ task.image.url }}"
               class="img-fluid rounded shadow-sm"
               style="max-width:300px;">
        </div>
        {% endif %}

      </div>

      <!-- Footer -->
      <div class="card-footer text-end bg-light">
        <a href="{% url 'task_list' %}" class="btn btn-secondary px-4">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>  Back
        </a>
      </div>

    </div>

  </div>
</div>

{% endblock %}
