{% extends "employee_portal/base.html" %}
{% load static %}
{% block page_title %}
Tasks
{% endblock %}
{% block content %}

<div class="container mt-5 pt-5 ms-md-5">
  <div class="d-flex justify-content-between align-items-center">
    <h3 style="color:#131e40;">Task List</h3>
    <div class="d-flex align-items-center gap-2">
    <a href="{% url 'add_task' %}" class="btn btn-primary"style="background-color:#131e40; color:white;">
      + Add Task
    </a>
<form method="get" class="d-flex align-items-center">
  <select name="filter" class="form-select me-2" onchange="this.form.submit()"style="background-color:#131e40; color:white;">
    <option value="all" {% if filter_type == "all" %}selected{% endif %}>All Tasks</option>
    <option value="my" {% if filter_type == "my" %}selected{% endif %}>My Tasks</option>
  </select>
</form>
</div>
</div>
<hr>

  <table class="table table-bordered table-striped text-center shadow-lg">
     <thead>
    <tr>
      <th style="background-color:#131e40; color:white;">Task ID</th>
      <th style="background-color:#131e40; color:white;">Title</th>
      <th style="background-color:#131e40; color:white;">Assigned To</th>
            <th style="background-color:#131e40; color:white;">Start</th>
      <th style="background-color:#131e40; color:white;">End</th>
      
      <th style="background-color:#131e40; color:white;">Worked Hours</th>
      <th style="background-color:#131e40; color:white;">Status </th>
      <th style="background-color:#131e40; color:white;">Actions</th>
    </tr>
  </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>
          {{ task.assigned_to.first_name }} {{ task.assigned_to.last_name }}
        </td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.end_date }}</td>
        <td>{{ task.worked_hours_display }}</td>
        <td>
  {% if task.status == "Completed" %}
    <span style="color: green; ">{{ task.status }}</span>

  {% elif task.status == "Pending" %}
    <span style="color: red; ">{{ task.status }}</span>

  {% elif task.status == "In Progress" %}
    <span style="color: orange; ">{{ task.status }}</span>

  {% else %}
    {{ task.status }}
  {% endif %}
</td>

       <td>
<a href="{% url 'task_view' task.id %}" class="btn btn-sm btn-primary px-3 mb-1">
  View
</a>

<a href="{% url 'task_edit' task.id %}" class="btn btn-sm btn-warning px-3 mb-1">
  Edit
</a>

<a href="{% url 'task_delete' task.id %}"
   onclick="return confirm('Are you sure to delete this task?')"
   class="btn btn-sm btn-danger px-3 mb-1">
  Delete
</a>
     
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No tasks found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
